/*----------------------------------------------------------------------------- 
BASE STYLES 
-----------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

body {
   overflow-x: hidden;
   font-family: 'Roboto Mono', sans-serif;

}

html {
   width: 100%;
   height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 35px;
   text-transform: uppercase;
   font-family: 'Titillium Web', sans-serif;
   letter-spacing:1.5px;
}

p {
   margin: 0 0 25px;
   font-size: 18px;
}


a:hover, a:focus, a:active  {
   outline: none;

}

.img {
   max-width: 180px;
   height: auto;
}

/*----------------------------------------------------------------------------- 
NAVIGATION  
-----------------------------------------------------------------------------*/
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
   color: white;
   background-color: #0083AE;
}


.navbar-default .navbar-brand {
   color: #a0a9ae;
}

.navbar-default .navbar-nav > li > a {
   color: #a0a9ae;
}

.navbar-default .navbar-nav > li > a:hover {
   color: #0083AE;
}


.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
   color: #0083AE;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
   color: #0083AE;
}

.navbar-default  a.navbar-brand:visited { 
   background-color: #0083AE;
}

.navbar {
   padding: 5px;
   background-color: #2A2D2F;
   border-bottom-color: #7F919B;
}

.navbar-brand {
   text-transform: uppercase;
   font-family: 'Titillium Web', sans-serif;
   font-size: 25px;
   letter-spacing: 1px;
}

.navbar li {
   font-family: 'Titillium Web', sans-serif;
   font-weight: 400;
   font-size: 18px;
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

.navbar-header {
   color: #a0a9ae;
}


/*----------------------------------------------------------------------------- 
HEADER
-----------------------------------------------------------------------------*/

.intro {
   background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
      background-size:cover;
            -webkit-animation: slidein 100s;
            animation: slidein 100s;
    
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    
            -webkit-animation-direction: alternate;
            animation-direction: alternate;  
   background-position: center;
   background-repeat: no-repeat;
   display: table;
   width: 100%;
   height: auto;
   margin-top: -18px;
   padding: 180px 0;
   text-align: center;   
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

.intro .intro-body {
   display: table-cell;
   vertical-align: middle;
}

.intro .intro-body .intro-heading {
   font-family: 'Titillium Web', sans-serif;
   font-weight: 700px;
   font-size: 80px;
   color: #fff;
   margin-top: 80px;

}

.intro .intro-text {
   margin-top: -30px;
   font-size: 23px;
   font-family: 'Roboto Mono', sans-serif;
   font-weight: 700px;
   color: #fff;    
}


/*----------------------------------------------------------------------------- 
LAYOUT
-----------------------------------------------------------------------------*/
section {
   padding: 50px;
   background-color: #2A2D2F;
   
}

section h2.section-heading {
   margin-top: 0;
   margin-bottom: 25px;
   font-family: 'Titillium Web', sans-serif;
   font-size: 50px;
   font-weight: 300;
   color: #a0a9ae;
   line-height: 1;
   letter-spacing: -1px;
}

/* Portfolio */
.portfolio-item {
   margin-top: 20px;
}

#portfolio .portfolio-item {
   right: 0;
   margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
   display: block;
   position: relative;
   margin: 0 auto;
   max-width: 350px
}

.portfolio-item .img-responsive {
   margin: 0 auto;
}

#portfolio .portfolio-item .caption-content {
   margin: 0 auto;
   text-align: center;
   color: #a0a9ae;
}

/* Portfolio Modal*/ 
.portfolio-modal .modal-content {
   padding: 100px 0;
   min-height: 100%;
   border: 0;
   border-radius: 0;
   text-align: center;
   background-clip: border-box;
   -webkit-box-shadow: none;
   box-shadow: none;

}

.portfolio-modal .modal-content h2 {
   margin: 0;
   font-size: 3em;

}

.portfolio-modal .modal-content img {
  margin: 0 auto;

}

.portfolio-modal .close-modal {
   position: absolute;
   top: 25px;
   right: 25px;
   width: 75px;
   height: 75px;
   background-color: transparent;
   cursor: pointer;
}

.portfolio-modal .close-modal:hover {
   opacity: .3;
}

.portfolio-modal .close-modal .lr {
   z-index: 1051;
   width: 1px;
   height: 75px;
   margin-left: 35px;
   background-color: #2c3e50;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
   z-index: 1052;
   width: 1px;
   height: 75px;
   background-color: #2c3e50;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
   display: none;
   opacity: 0;
}

#about {
   padding: 100px 50px 0px 50px;
}

#contact {
   padding: 100px 50px 50px 50px;
}

#footer {
   padding: 50px 50px 10px 50px;

}

.lead {
   color: #a0a9ae;
}

/*----------------------------------------------------------------------------- 
SOCIAL BUTTONS  
-----------------------------------------------------------------------------*/

.social {
   margin: 0;
   padding: 0;
}

.social ul {
   margin: 0;
   padding: 5px;
}

.social ul li {
   margin: 5px;
   list-style: none outside none;
   display: inline-block;
}


/*--------------------------------------------------------------------------------------
   Cloud in BackGround
----------------------------------------------------------------------------------------*/

@-webkit-keyframes slidein {
   from {background-position: top; background-size:3000px; }
   to {background-position: -100px 0px;background-size:2750px;}
   }
   
   @keyframes slidein {
   from {background-position: top;background-size:3000px; }
   to {background-position: -100px 0px;background-size:2750px;}
   
   }

   /*--------------------------------------------------------------------------------------
   Icons for different projects - Credit ChatGPT
   ---------------------------------------------------------------------------------------*/

   /* CSS for the red rectangle */
.icon-box {
   width: 350px; /* Adjust width as needed */
   height: 250px; /* Adjust height as needed */
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 0.3s ease;
   padding-left: 20px;
   padding-right: 20px;
   margin: 0 auto;
 }
 
 /* CSS for the icon */
 .icon-box i {
   color: white; /* Icon color */
   font-size: 100px; /* Icon size */
   transition: transform 0.3s ease;
   outline: none;
 }
 
 .icon-box:hover i {
   transform: scale(1.2); /* Change icon size on hover */
 }

 .icon-box-bee {
   background-color: #ffc60d;
 }

 .icon-box-bee:hover {
   background-color: #e1af0a; /* Change color on hover */
 }

 .icon-box-schedule {
   background-color: #165f9e;
 }

 .icon-box-schedule:hover {
   background-color: #13538a;
 }

 .icon-box-budget {
   background-color: #378016;
 }

 .icon-box-budget:hover {
   background-color: #285e10;
 }

a,
a:hover,
a:focus,
a:visited,
.icon-box i {
  text-decoration: none; /* Remove underline for links */
  outline: none; /* Remove outline for links and icons */
}

/*----------------------------------------------------------------------------
SKILLS COLUMNS
------------------------------------------------------------------------------*/

/* CSS for the columns */
.skills-columns {
   display: flex;
   justify-content: space-between;
   column-count: 2;
   column-gap: 40px;
 }
 
 .column {
   flex: 1;
 }
 
 .column-list {
   list-style: none;
   padding: 0;
 }
 
 .column-list li {
   margin-bottom: 10px;
 }

/*----------------------------------------------------------------------------- 
MEDIA QUERIES 
-----------------------------------------------------------------------------*/

@media(min-width:769px) {

   .intro .intro-body .intro-heading {
       font-size: 80px;
   }   

   .intro .intro-body .intro-text {
       font-size: 23px;
   }
 
   
   section h2.section-heading {
       font-size: 55px;    
   }

   p {
       margin: 0 0 35px;
       font-size: 20px;
       line-height: 1.6;
   }


}


@media(max-width:768px) {
   

   .intro .intro-body .intro-heading {
       
       font-size: 60px;
   }   

   .intro .intro-body .intro-text {
       font-size: 18px;
   
   
   }

  section h2.section-heading {
       font-size: 35px;
       
   }

   section {
       padding: 50px 0;
       margin: auto;
   }
}


@media(max-width:360px) {
   .intro .intro-body .intro-heading {
       
       font-size: 45px;
   }   

   .intro .intro-body .intro-text {
       font-size: 18px;
   
   
   }

   
}